body {


}

.header {
    background-color: #1f2937;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;

}
li {
    text-decoration: none;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-weight: 300;
    
}

.first {
    background-color: #1f2937;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.left {
   flex: 1;

}

.heading {
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    padding-left: 30px;
}

.para {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e5e7eb;
    padding-left: 30px;
    margin-top: -35px;
}

img {
    width: 550px;

}

.img {
    flex: 1;
  
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    border-radius: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.conttwo {
    display: flex;
    gap: 0;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.card {
    flex: 1 1 160px;
    min-width: 100px;
    margin: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    max-width: 160px;
    display: block;
    border-radius: 25px;
    width: 100%;
    height: auto;
}

.card p {
    margin-top: 10px;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #1f2937;
    max-width: 160px;
    text-align: center;
}

.third {
    background-color: #e5e7eb;
    padding-left: 200px;
    padding-right: 200px;
}

.third p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.third h4 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: -20;
    padding-left: 100px;
    padding-right: 100px;
    text-align: end;
    padding-bottom: 50px;
}

.fourth {
    background-color: #3882f6;
    margin: 75px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.fourth h3 {
    color: #f9faf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
   margin-bottom: 5px;

}


.fourth p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f9faf8;
    font-size: 15px;
    margin: 0;
    padding-bottom: 30px;
    
   
}

.fourth button {
    margin-right: 50px;
    flex-shrink: 0;
    padding: 10px 30px;
    border-color: white;
    cursor: pointer;

}

.footer {
    background-color: #1f2937;
}

.footer p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #e5e7eb;
    text-align: center;
    padding: 30px;
}